{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Cultivate
{% endblock %}

{% block content %}
<!-- Form for creating/editing Fableseeds and Fablebranches -->
<section
    class="md:w-3/4 max-w-3xl mx-auto h-full overflow-auto bg-base-100 text-primary-content rounded-xl bg-clip-border drop-shadow-secondary-content drop-shadow-md p-4 md:p-6"
    id="create-div">
    <h2 class="mb-4 font-bold text-2xl">Cultivate {{edit_type}}</h2>
    <form action="" class="" method="{{ form.helper.form_method }}" id="{{ form.helper.form_id }}">
        {% crispy form %}
    </form>

</section>

{% endblock content %}