select {
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

select * {
    color: #0d0d0d;
    background-color: #f2f2f2;
}


@media screen and (min-width:320px) {
    dt {
        float: left;

    }

    dt::after {
        content: "\a";
        white-space: pre;
    }

    dd {
        margin: 0 0 0 100px;
        padding: 0 0 0.5em 0;
    }
}

@media screen and (min-width:768px) {
    dt {
        float: left;
        width: 180px;
    }

    dt::after {
        content: ":";
    }

    dd {
        margin: 0 0 0 180px;
        padding: 0 0 0.5em 0;
    }
}