{% extends 'base.html' %}
{% load static %}

{% block title %}
{{user.get_display_name}}'s Garden
{% endblock %}
{% block content %}
<!-- Profile details section with header, image and user information -->
<section
    class="md:w-3/4 max-w-3xl mx-auto h-full p-4 mb-3 md:p-6 bg-base-100 rounded-xl bg-clip-border text-primary-content drop-shadow-md drop-shadow-secondary-content flex flex-col "
    id="profile-details">
    <!-- Section header displays the current user's display name -->
    <div class="text-center mb-4" id="header-container">
        <h2 class="font-bold text-2xl">{{user.get_display_name}}'s Garden</h2>
    </div>

    <div class="flex flex-col mb-4" id="profile-container">
        <div class="mx-auto">
            <!-- Profile image pulled from the userprofile model. -->
            <img src="{{user.userprofile.user_profile_image_url}}" alt="{{user.get_display_name}}'s profile image"
                width="150px" height="150px" class="mx-auto mb-4"></div>
        <div class="mx-auto mb-2 mt-2" id="profile-descriptors">
            <!-- User information in description list (bio, email, full name, fablebud count) -->
            <dl>
                <dt class="font-bold text-lg md:text-base">Display Name:</dt>
                <dd class="pb-3 text-lg md:text-base">{{user.get_display_name}}</dd>
                <dt class="font-bold text-lg md:text-base">User Bio:</dt>
                <dd class="pb-3 text-lg md:text-base">{{user.userprofile.bio}}</dd>
                {% if user.email %}
                <dt class="font-bold text-lg md:text-base">Email Address:</dt>
                <dd class="pb-3 text-lg md:text-base">{{user.email}}</dd>
                {% endif %}
                {%if user.first_name and user.last_name%}
                <dt class="font-bold text-lg md:text-base">Full Name:</dt>
                <dd class="pb-3 text-lg md:text-base">
                    {{user.first_name}}
                    {{user.last_name}}
                </dd>
                {% endif %}
                <dt class="font-bold text-lg md:text-base">Fablebud Count:</dt>
                <dd class="pb-3 text-lg md:text-base">{{user.userprofile.fablebuds_count}}</dd>
            </dl>
        </div>
    </div>
    <!-- Buttons to edit or delete the user profile. Only shows to authenticated users -->
    <div class="buttons flex flex-1 justify-end mt-3 gap-2"> {% if user.is_authenticated %} <a href="{% url 'edit-profile' %}"
            class="btn hover:bg-secondary hover:text-secondary-content">Edit Profile</a> 
            {% endif %}
</section>
<!-- Section for earned flowers. Pulls from the user flower model -->
<section id="user-flowers"
    class="md:w-3/4 max-w-3xl mx-auto h-full overflow-auto bg-base-100 text-primary-content rounded-xl bg-clip-border drop-shadow-secondary-content drop-shadow-md container p-4 md:p-6 gap-4">
        <div class="text-center mb-4" id="header-container">
        <h3 class="font-bold text-xl">Earned Flowers</h3>
    </div>

    <div class="flex flex-row flex-wrap" id="flower-container">
        <!-- Flower grid loops through user_flowers queryset for the current user -->
        {% for flower in user_flowers %}
        <div class="column text-center mx-auto mb-4">
            <!-- Flower name and quantity -->
            {{flower.flower}} ({{flower.quantity}})
            <!-- Flower image links back to the seed it was earned from -->
            <a href="{% url 'fableseed-view' flower.earned_from_seed.pk %}"><img src="{{flower.user_flower_image_url}}"
                    alt="{{ flower.flower }}" width="100px" height="100px" class="hover:bg-accent">
            </a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}