<!-- Template for viewing a user's profile information and earned flowers, with edit controls and links to the original Fableseed posts where their branches grew  -->
{% extends 'base.html' %}
{% load static %}
<!-- Dynamically sets the browser tab title based on the user's display name -->

{% block title %}
{{user.get_display_name}}'s Garden
{% endblock %}
{% block content %}
<!-- Profile details section with header, image and user information -->
<section
    class="md:w-3/4 max-w-3xl 2xl:max-w-3/4 mx-auto overflow-auto h-full w-full p-4 mb-3 2xl:mb-6 md:p-6 bg-base-100 rounded-xl bg-clip-border text-primary-content drop-shadow-md drop-shadow-secondary-content flex flex-col"
    id="profile-details">
    <!-- Section header displays the current user's display name -->
    <div class="text-center mb-4" id="profile-header">
        <h2 class="font-bold text-2xl 2xl:text-5xl 2xl:pt-4">{{user.get_display_name}}'s Garden</h2>
    </div>

    <div class="flex flex-col mb-4" id="profile-container">
        <div class="mx-auto">
            <!-- Profile image pulled from the userprofile model. -->
            <img src="{{user.userprofile.user_profile_image_url}}" alt="{{user.get_display_name}}'s profile image"
                width="150" height="150" class="mx-auto mb-4 2xl:w-70 h-auto">
        </div>
        <div class="mx-auto mb-2 mt-2" id="profile-descriptors">
            <!-- User information in description list (bio, email, full name, fablebud count) -->
             <!-- Conditional rendering used for email and full name if values exist -->
            <dl>
                <dt class="font-bold text-lg 2xl:text-3xl md:text-base">Display Name:</dt>
                <dd class="pb-3 text-lg 2xl:text-3xl md:text-base">{{user.get_display_name}}</dd>
                <dt class="font-bold text-lg 2xl:text-3xl md:text-base">User Bio:</dt>
                <dd class="pb-3 text-lg 2xl:text-3xl md:text-base">{{user.userprofile.bio}}</dd>
                {% if user.email %}
                <dt class="font-bold text-lg 2xl:text-3xl md:text-base">Email Address:</dt>
                <dd class="pb-3 text-lg 2xl:text-3xl md:text-base">{{user.email}}</dd>
                {% endif %}
                {%if user.first_name and user.last_name%}
                <dt class="font-bold text-lg 2xl:text-3xl md:text-base">Full Name:</dt>
                <dd class="pb-3 text-lg 2xl:text-3xl md:text-base">
                    {{user.first_name}}
                    {{user.last_name}}
                </dd>
                {% endif %}
                <dt class="font-bold text-lg 2xl:text-3xl md:text-base">Fablebud Count:</dt>
                <dd class="pb-3 text-lg 2xl:text-3xl md:text-base">{{user.userprofile.fablebuds_count}}</dd>
            </dl>
        </div>
    </div>
    <!-- Buttons to edit the user profile. Only shows to authenticated user -->
    <div class="buttons flex flex-1 justify-end mt-3 gap-2"> {% if user.is_authenticated %} <a
            href="{% url 'edit-profile' %}" class="btn 2xl:btn-xl hover:bg-secondary hover:text-secondary-content">Edit Profile</a>
        {% endif %}</div>
</section>
<!-- Section displaying flowers earned by the user. Each flower links back to the original Fableseed it was earned from -->
<section id="user-flowers"
    class="md:w-3/4 max-w-3xl 2xl:max-w-3/4 mx-auto overflow-auto w-full h-full p-4 mb-3 md:p-6 bg-base-100 rounded-xl bg-clip-border text-primary-content drop-shadow-md drop-shadow-secondary-content flex flex-col">
    <div class="text-center mb-4" id="flower-header">
        <h3 class="font-bold text-xl 2xl:text-4xl 2xl:pt-2">Earned Flowers</h3>
    </div>

    <div class="flex flex-row flex-wrap" id="flower-container">
<!-- Loop through user_flowers queryset; display flower name, quantity, and clickable image linking to source Fableseed -->
        {% for flower in user_flowers %}
        <!-- Each flower displayed with image and quantity; hover effect applied for visual feedback -->
        <div class="column text-center mx-auto mb-4">
            <p class="mb-2 2xl:text-2xl">{{flower.flower}} ({{flower.quantity}})</p>
            <!-- Flower image links back to the seed it was earned from -->
            <a href="{% url 'fableseed-view' flower.earned_from_seed.pk %}"><img src="{{flower.user_flower_image_url}}"
                    alt="{{ flower.flower }}" width="100" height="100" class="2xl:w-30 2xl:h-auto hover:bg-accent">
            </a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}