<!-- Template for viewing Fableseed About information as a timeline of steps  -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
About Fableseed
{% endblock %}
{% block content %}
<!-- About section with header, sub-title and Fableseed steps as a timeline -->
<section
    class="md:w-3/4 max-w-3xl mx-auto overflow-auto h-full lg:overflow-y-auto lg:h-[80vh] w-full p-5 mb-3 md:p-6 bg-base-100 rounded-xl bg-clip-border text-primary-content drop-shadow-md drop-shadow-secondary-content flex flex-col">
    <div class="flex flex-col mb-5 mx-auto">
        <h2 class="font-bold text-2xl md:text-center">The Fableseed Gardener's Manual</h2>
        <h3 class="italic md:text-center mb-4">A step-by-step guide to planting and growing stories</h3>
        <p class="mb-3">Welcome to Fableseed, a collaborative storytelling platform, where stories grow like plants and
            words breathe life into a blooming world. In Fableseed, stories are as essential as oxygen. Plant the seeds
            of imagination and watch your own personal garden blossom with vibrant flowers, each one nurtured by the
            tales you and others tell. These blossoms aren't just beautiful - they cradle your stories in their petals,
            keeping them alive in the last garden at the end of the world</p>
        <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
            <li>
                <div class="timeline-start md:text-end mb-3">
                    <h4 class="font-mono italic">Step 1</h4>
                    <div class="text-lg font-black">Create your gardener identity.</div>
                    Visit your Garden, choose a display name and a profile picture, and write a small bio about
                    yourself.
                </div>
                <div class="timeline-middle">
                    <i class="fa-solid fa-seedling text-base-200 text-xl hidden md:block"></i>
                </div>
                <hr>
            </li>
            <li>
                <hr>
                                <div class="timeline-middle">
                    <i class="fa-solid fa-seedling text-base-200 text-xl"></i>
                </div>
                <div class="timeline-end mb-3">
                    <h4 class="font-mono italic">Step 2</h4>
                    <div class="text-lg font-black">Sow seeds in the Nursery. </div>
                    Visit the Nursery and plant a Fableseed of just a couple of lines with a title. Choose the type of
                    flower your prompt will grow into - each blossom symbolises the spirit of your story.
                </div>
                <hr>
            </li>
            <li>
                <hr>

                <div class="timeline-start md:text-end mb-3">
                    <h4 class="font-mono italic">Step 3</h4>
                    <div class="text-lg font-black">Earn Fablebuds.</div>
                    Every planted Fableseed grants precious Fablebuds - these let you grow other people's stories.
                </div>
                                <div class="timeline-middle">
                    <i class="fa-solid fa-seedling text-base-200 text-xl"></i>
                </div>
                <hr>
            </li>
            <li>
                <hr>
                                <div class="timeline-middle">
                    <i class="fa-solid fa-seedling text-base-200 text-xl"></i>
                </div>
                <div class="timeline-end mb-3">
                    <h4 class="font-mono italic">Step 4</h4>
                    <div class="text-lg font-black">Browse and Grow.</div>
                    Browse the Nursery to discover story seeds planted by other gardeners - choose a flower to add to
                    your profile garden.
                </div>
                <hr>
            </li>
            <li>
                <hr>

                <div class="timeline-start md:text-end mb-3">
                    <h4 class="font-mono italic">Step 5</h4>
                    <div class="text-lg font-black">Spends Fablebuds to grow Fablebranches.</div>
                    Every Fablebranch you write blooms that flower in your profile garden. Grow more branches to watch
                    your flowers multiply.
                </div>
                                <div class="timeline-middle">
                    <i class="fa-solid fa-seedling text-base-200 text-xl"></i>
                </div>
                <hr>
            </li>
            <li>
                <hr>

                                <div class="timeline-middle">
                    <i class="fa-solid fa-seedling text-base-200 text-xl"></i>
                </div>
                <div class="timeline-end mb-3">
                    <h4 class="font-mono italic">Step 6</h4>
                    <div class="text-lg font-black">Propagate your plants.</div>
                    Every Fablebranch you write blooms that flower in your profile garden. Grow more branches to watch
                    your flowers multiply.
                </div>
                <hr>
            </li>
            <li>
                <hr>

                <div class="timeline-start md:text-end mb-3">
                    <h4 class="font-mono italic">Step 7</h4>
                    <div class="text-lg font-black"> Cultivate your garden of you.</div>
                    Your user profile becomes a beautiful garden - and a living record of the stories you've helped
                    grow. Clicking on a flower leads to the original Fableseed that granted you that blossom, and so
                    your garden becomes a living archive of stories.
                </div>
                                <div class="timeline-middle">
                    <i class="fa-solid fa-seedling text-base-200 text-xl"></i>
                </div>
                <hr>
            </li>
        </ul>
    </div>
</section>
{% endblock content %}