<!-- Template for viewing a user's profile information and earned flowers, with edit controls and links to the original Fableseed posts where their branches grew  -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
About Fableseed
{% endblock %}
{% block content %}
<!-- Profile details section with header, image and user information -->
<section
    class="md:w-3/4 max-w-3xl mx-auto overflow-auto h-full w-full p-4 mb-3 md:p-6 bg-base-100 rounded-xl bg-clip-border text-primary-content drop-shadow-md drop-shadow-secondary-content flex flex-col"
    id="profile-details">
    <!-- Section header displays the current user's display name -->
    <div class="md:text-center mb-4" id="about-header">
        <h2 class="font-bold text-2xl">About Fableseed</h2>
    </div>

    <div class="flex flex-col mb-4 mx-auto" id="about-container">

        <p class="mb-2">Welcome to Fableseed, a collaborative storytelling platform, where stories grow like plants and
            words breathe
            life into a blooming world. <i class="fa-solid fa-earth-europe text-base-200"></i></p>
        <p class="mb-2">In Fableseed, stories are as essential as oxygen.
            Plant the seeds of imagination and watch your own personal garden blossom with vibrant flowers, each one
            nurtured by the tales you and others tell.</p>
        <p class="mb-2">These blossoms aren't just beautiful - they cradle your stories in their petals, keeping them
            alive in the
            last garden at the end of the world</p>
        <h2 class="font-bold text-2xl md:text-center mt-4">The Fableseed Gardener's Manual</h2>
        <h3 class="italic md:text-center mb-4">A step-by-step guide to planting and growing stories</h3>
        <ul class="list-none mb-4">
            <li class="mb-2"> <i class="fa-solid fa-seedling text-base-200"></i> <strong>Create your gardener
                    identity.</strong>
                Visit your Garden and choose a display name and a profile picture, and write a small bio about yourself.
            </li>
            <li class="mb-2"> <i class="fa-solid fa-seedling text-base-200"></i> <strong>Sow seeds in the
                    Nursery.</strong> Visit the
                Nursery and plant a Fableseed of just a couple of lines with a title. Choose the type of flower your
                prompt will grow into - each blossom symbolises the spirit of your story.</li>
            <li class="mb-2"> <i class="fa-solid fa-seedling text-base-200"></i> <strong>Earn Fablebuds.</strong> Every
                planted
                Fableseed grants precious Fablebuds - these let you grow other people's stories.</li>
            <li class="mb-2"> <i class="fa-solid fa-seedling text-base-200"></i> <strong>Browse and Grow.</strong>
                Browse the Nursery
                to discover story seeds planted by other gardeners - choose a flower to add to your profile garden.
            </li>
            <li class="mb-2"> <i class="fa-solid fa-seedling text-base-200"></i> <strong>Spends Fablebuds to grow
                    Fablebranches.</strong> Spend a Fablebud to add a branch to someone else's story. This ensures every
                story
                is nurtured with intention and gives purpose to planting your seeds.</li>
            <li class="mb-2"> <i class="fa-solid fa-seedling text-base-200"></i> <strong>Propagate your plants.</strong>
                Every
                Fablebranch you write blooms that flower in your profile garden. Grow more branches to watch your
                flowers multiply. </li>
            <li class="mb-2"> <i class="fa-solid fa-seedling text-base-200"></i> <strong>Cultivate your garden of
                    you.</strong> Your user profile becomes a beautiful garden - and a living record of the stories
                you've helped grow. Clicking on a flower leads to the original Fableseed that granted you that blossom,
                and so your garden becomes a living archive of stories.</li>
        </ul>
        <h2 class="font-bold text-2xl md:text-center mb-2">As stories grow, so does the world</h2>
        <p>Each word you write, pushes back the decay.</p>
        <p>Each flower you earn makes the garden stronger</p>
        <p>Together, we are planting something that will outlast the end.</p>
    </div>
</section>
{% endblock content %}