{% extends 'base.html' %}
{% load static %}
<!-- Dynamically sets the page title based on the Fableseed number -->
{% block title %}
Fableseed Home Page
{% endblock %}

{% block content %}

<section class="flex justify-center items-center">
  <div class="min-h-full w-full max-w-5xl bg-[url('https://res.cloudinary.com/dppks2exv/image/upload/c_pad,w_2000/v1756215223/Fableseed_hero_image_landscape_xpexbj.avif')] 
  md:bg-[url('https://res.cloudinary.com/dppks2exv/image/upload/c_pad,w_2000/v1756295170/hero4_ortgcv.png')]
  bg-center md:bg-[position:10%_center] lg:bg-[position:4%_center] rounded-xl bg-cover bg-no-repeat">
    <div
      class="hero-content text-primary-content text-center bg-base-300/50 rounded-xl min-w-full min-h-full justify-end md:justify-center lg:justify-end lg:p-8">
      <div id="hero-content-wrapper">
        <h2 class="text-4xl md:text-6xl font-bold hero-title">Create Your <span class="text-secondary font-great-vibes font-bold">Garden</span></h2>
        <div class="hero-text p-3 lg:p-5">
          <p class="pb-4 text-lg" id="para1">
            The world is a desolate wasteland.
            <br>Nothing grows here.
            <br>Nothing thrives.
          </p>
          <p class="pb-4 text-lg" id="para2">
            You wander through the ruin and wreckage, alone.
            <br>Until you see a single <span class="text-secondary font-bold">green shoot</span> in the decay.
            <br>Struggling against the darkness.
          </p>
          <p class="pb-4 text-lg" id="para3">
            <br>You give it water.
            <br>There is no response.
            <br>There is no sun or warmth.
          </p>
          <p class="pb-4 text-lg" id="para4">
            <br>So you begin to speak.
            <br>You tell it tall tales, fantasy fables, silly stories.
            <br>Legends, parables, and yarns spun from nothing but hope.
          </p>
          <p class="pb-4 text-lg" id="para5">
            <br>The more stories you share, the taller it grows.
            <br>The stronger it becomes.
            <br>Until one day, <span class="text-secondary font-bold">it blooms</span>.
          </p>
          <p class="pb-4 text-lg" id="para6">
            <br>A single, impossible flower —
            born of imagination.
            <br>From it, you gather seeds.
            <br>And with them, you grow <span class="text-secondary font-bold">the last garden at the end of the world</span>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}