{% extends 'base.html' %}
{% load static %}
<!-- Dynamically sets the page title based on the Fableseed number -->
{% block title %}
Fableseed Home Page
{% endblock %}

{% block content %}
<div
  class="hero min-h-screen bg-cover bg-center rounded-xl"
  style="background-image: url(https://res.cloudinary.com/dppks2exv/image/upload/c_fill,h_600/v1756215223/Fableseed_hero_image_landscape_xpexbj.avif);"
>
  <div class="hero-overlay opacity-60 rounded-xl"></div>
  <div class="hero-content text-neutral-content text-center bg-base-content/50 rounded-xl">
    <div class="max-w-xxl">
      <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
{% endblock %}