{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Welcome to Fableseed, a collaborative storytelling platform where stories grow like plants and words breathe life into a blooming world.">
  <meta name="author" content="Lucy Sears">
  <meta name="keywords" content="storytelling, stories, collaborative, apocalypse, garden, flowers, ">
  <title>{% block title %}
    Fableseed
    {% endblock %}</title>
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>

<body class="min-h-screen min-w-full max-w-full bg-primary flex flex-col bg-[url(/static/images/bg1.avif)] bg-contain lg:bg-cover lg:bg-center">
  <header class="w-full">
    <div class="navbar bg-base-200 shadow">
      <div class="navbar-start flex-1">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg xmlns="https://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
          </div>
          <ul tabindex="0" class="menu menu-md dropdown-content bg-base-200 rounded-box z-1 mt-3 w-52 p-2 shadow">
            <li><a href="{% url 'nursery' %}">Home</a></li>
            <li><a href="">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'mygarden' id=user.id %}">My Garden</a></li>
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            <li><a href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
        <h1 class="mt-3"><a class="font-bold text-6xl md:text-7xl lg:text-6xl font-great-vibes hover:text-base-100"
            href="{% url 'nursery' %}">Fableseed</a></h1>
      </div>
      <div class="navbar-center flex-1 justify-center hidden lg:flex lg:flex-auto">
        <ul class="menu menu-horizontal gap-4">
          <li><a class="btn bg-primary hover:bg-base-100" href="{% url 'nursery' %}">Home</a></li>
          <li><a class="btn bg-primary hover:bg-base-100">About</a></li>
          {% if user.is_authenticated %}
          <li><a class="btn bg-primary hover:bg-base-100" href="{% url 'mygarden' id=user.id %}">My Garden</a></li>
          <li><a class="btn bg-primary hover:bg-base-100" href="{% url 'account_logout' %}">Logout</a></li>
          {% else %}
          <li><a class="btn bg-primary hover:bg-base-100" href="{% url 'account_signup' %}">Sign Up</a></li>
          <li><a class="btn bg-primary hover:bg-base-100" href="{% url 'account_login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="navbar-end flex-1 justify-end hidden md:flex pr-3 lg:text-sm">
        {% if user.is_authenticated %}
        <p>You are currently logged in as {{user.get_display_name}} </p>
        {% else %}
        <p>You are currently logged out </p>
        {% endif %}
      </div>
    </div>
  </header>
  <main class="container mx-auto mt-4 flex-grow px-4">
    {% if messages %}
    {% for message in messages %}
    <div class="text-center">
      <div class="
      {% if 'success' in message.tags %}alert-success{% endif %}
      {% if 'error' in message.tags %}alert-error{% endif %}
      message alert max-sm:alert-vertical text-xs font-bold inline-block mx-auto mb-3
      "
        data-message="{{ message }}" role="alert" aria-live="assertive" aria-atomic="true">
        {{ message }}
      </div>
    </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
  </main>
  <footer class="bg-base-200 mt-4 py-4"> {% if user.is_authenticated %}
    <p class="text-center">You are currently logged in as {{user.get_display_name}} </p>
    {% else %}
    <p class="p-2 text-center">You are currently logged out </p>
    {% endif %}
  </footer>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>