{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Welcome to Fableseed, a collaborative storytelling platform where stories grow like plants and words breathe life into a blooming world.">
    <meta name="author" content="Lucy Sears">
    <meta name="keywords" content="storytelling, stories, collaborative, apocalypse, garden, flowers, ">
    <title>{% block title %}
        Fableseed
        {% endblock %}</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>


<body class="min-h-screen min-w-screen bg-primary">

    <header class="w-full">
        <div class="navbar bg-base-200 shadow-sm w-screen">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a>Item 1</a></li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" href="{% url 'nursery' %}">Fableseed</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a>Item 1</a></li>
      <li><a>Item 3</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn bg-primary">Button</a>
  </div>
</div>
    </header>
    <main class="container mx-auto mt-4 flex-grow px-4">
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>