/* Styling for form inputs that Crispy Tailwind doesn't support */
select {
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

select * {
    color: #0d0d0d;
    background-color: #f2f2f2;
}

input[type="file"] {
    max-width: 200px;
    text-align: center;
    padding: 0.5rem;
    white-space: nowrap;
    justify-content: center;
}

/* Class applied to a nav-link button when request.path matches the url variable for that page */
.active {
    background-color:#045911;
    border-radius: 0.5rem;
}

/* Visibility hidden applied so that SplitText can safely wrap the hero text in spans/divs without showing unstyled or jumping text */
.hero-title,
#para1, #para2, #para3, #para4, #para5, #para6 {
  visibility: hidden;
}

/* Applied to stop the temporary expansion caused by SplitText spans */
.hero-content {
  overflow: hidden;
}


/* Responsive styling for the MyGarden profile description list and items */
@media screen and (min-width:768px) {
    dt {
        float: left;
        width: 180px;
    }

    dd {
        margin: 0 0 0 180px;
        padding: 0 0 0.5em 0;
    }
}