@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&family=Merriweather+Sans:ital,wght@1,700&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "Fableseed";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #045911;
  --color-base-200: #400E37;
  --color-base-300: #0d0d0d;
  --color-base-content: #f2f2f2;
  --color-primary: #730E3D;
  --color-primary-content: #f2f2f2;
  --color-secondary: #55A605;
  --color-secondary-content: #0d0d0d;
  --color-accent: oklch(43% 0 0);
  --color-accent-content: #f2f2f2;
  --color-neutral: #f2f2f2;
  --color-neutral-content: #730E3D;
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: #0d0d0d;
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: #0d0d0d;
  --color-warning: oklch(84.8% 0.1962 84.62);
  --color-warning-content: #0d0d0d;
  --color-error: oklch(65% 0.1985 24.22);
  --color-error-content: #0d0d0d;
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-great-vibes: "Great Vibes", cursive, sans-serif; 
  --font-merriweather: "Merriweather Sans", sans-serif; 
  --font-inclusive-sans: "Inclusive Sans", sans-serif; 
}

@layer base {
  th {
    font-family: var(--font-merriweather);
    font-weight: 700;
    font-style: italic;
  }

  body {
    font-family: var(--font-inclusive-sans)
  }
}